@use "../abstract" as *;

.additional::before {
  content: "";
  width: 100%;
  left: 0;
  height: 2px;
  background-color: $green;
  position: absolute;
  top: 13px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    top: 66px;
  }
}

.additional {
  position: relative;
}

.additional__table {
  display: grid;

  @media (min-width: $tablet-width) {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    margin-top: 80px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    border: none;
    border-collapse: unset;
  }
}

.additional__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $black;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 30px;
  padding-right: 20px;
  position: relative;
  width: fit-content;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding-right: 33px;
    padding-left: 37px;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -109px;
    padding-left: 29px;
  }
}

.additional__th {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  color: $grey;
  grid-column: 1/3;
  grid-row: 1/2;
  max-width: 130px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  margin-top: 13px;


  @media (min-width: $tablet-width) {
    margin: 0;
    border: none;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 180px;
  }
}

.additional__td {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  max-width: 118px;
  line-height: 100%;
  color: $grey;


  @media (min-width: $tablet-width) {
    line-height: 125%;
    max-width: 140px;
    font-size: 16px;
    grid-row: 1/2;
  }
}

.additional__td--price {
  margin-left: 92px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: -26px;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 132px;
  }
}

.additional__td--info {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 20px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional__td-button {
  margin-top: 15px;
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-top: 29px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -2px;
    margin-left: 31px;
  }
}

.additional__tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin-bottom: 31px;
  border-top: 1px solid #d3d3d3;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid #d3d3d3;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 38px;
    padding-left: 38px;
    column-gap: 0;
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d3d3d3;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 28px;
  }
}

.additional__tr--last {
  border-bottom: 1px solid #d3d3d3;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #d3d3d3;
  }
}
