@use "../abstract" as *;

.advantages {
  width: 280px;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-right: 400px;
    font-size: 36px;
    line-height: 36px;
  }
}

.advantages__description {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  margin: 0;
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 33px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__link {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $grey;
  padding-left: 19px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.advantages-container {
  margin-top: 20px;
  background-color: $milk;
}
