@use "../abstract" as *;

.advantages {
  margin-top: 20px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-evenly;
  }
}

.advantages__item {
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 563px;
    height: 374px;
  }
}

.advantages__item:nth-child(2) {
  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.advantages__item--slim::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  left: 22px;
  top: 21px;

  @media (min-width: $tablet-width) {
    right: 61px;
    background-image: url("../img/cat-slim-tablet.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 211px;
    left: 446px;
    top: 62px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-slim-tablet@2x.svg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/cat-slim-desktop.svg");
    width: 100px;
    height: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-slim-desktop@2x.svg");
    }
  }
}

.advantages__item--strong::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../img/cat-strong.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  left: 13px;
  top: 21px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat-strong-tablet.svg");
    width: 268px;
    height: 200px;
    left: 413px;
    top: 102px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-strong-tablet@2x.svg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/cat-strong-desktop.svg");
    width: 134px;
    height: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-strong-desktop@2x.svg");
    }
  }
}

.advantages__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 13px;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
    padding-top: 57px;
    padding-bottom: 24px;
    padding-right: 199px;
    padding-left: 0;
  }
}

.advantages__tittle--fat {
  padding-left: 38px;

  @media (min-width: $tablet-width) {
    min-width: 206px;
    padding-top: 91px;
    padding-left: 1px;
  }
}

.advantages__description {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: $grey;
  margin: 0;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 33px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 57px;
  }
}

.advantages__description::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  top: 207px;
  left: 20px;
  height: 2px;
  width: 240px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__link {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: $grey;
  padding-left: 19px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
    padding-left: 0;
  }
}

.advantages__link:hover {
  opacity: 0.7;
}

.advantages__link:active {
  opacity: 0.5;
}

.advantages__link > svg {
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 21px;
    padding-bottom: 4px;
  }
}

.advantages-container {
  background-color: $milk;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 57px;
    padding-right: 316px;
    padding-left: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 116px;
  }
}
