@use "../abstract" as *;

.button {
  cursor: pointer;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border-color: transparent;
}

.hero-section__button {
  line-height: 87%;
  width: 244px;
  padding: 14px 26px;
  margin-top: 302px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    line-height: 67%;
  }
}

.product-card__button {
  width: 280px;
  padding: 10px 110px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $desktop-width) {
    width: 168px;
    padding: 10px 53px;
    margin-left: 40px;
  }
}

.product-card__button--more {
  padding: 10px 90px;
  background-color: $milk;
  color: $grey;

  @media (min-width: $desktop-width) {
    padding: 10px 23px;
    width: 169px;
  }
}
