@use "../abstract" as *;

.comparison {
  position: relative;
  --comparison: 50%;

  @media (min-width: $tablet-width) {
    width: 690px;
    margin-top: 108px;
    margin-bottom: 100px;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.comparison__top {
  position: absolute;
  top: 6px;
  bottom: 0;
  left: -2px;
  width: var(--comparison, 50%);
  overflow: hidden;

  @media (min-width: $desktop-width) {
    top: -4px;
    left: 3px;
  }
}

.comparison__skinny {
  width: 100%;


  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.comparison__fat {
  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.comparison__range {
  position: absolute;
  transform: rotate(90deg);
  top: 130px;
  left: 4px;
  width: 100%;
  appearance: none;

  @media (min-width: $desktop-width) {
    top: 124px;
    left: -29px;
  }
}

.comparison__range::before,
.comparison__range::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 256px;
  background: #666666;
  left: 143px;
  top: -124px;
  border-radius: 2px;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    height: 512px;
    left: 457px;
    top: -253px;
  }
}

.comparison__input[type="range"] {
  width: 256px;
  display: none;
}

.comparison__arrow {
  position: absolute;
  background-image: url("../img/comparison-arrow.svg");
  z-index: 1;
  width: 40px;
  height: 40px;
  transform: rotate(90deg);
  left: 125px;
  top: -16px;

  @media (min-width: $tablet-width) {
    left: 426px;
  }
}
