@use "../abstract" as *;

.example {
  background-color: $milk;
  padding-left: 20px;
  min-height: 659px;
}

.example__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  padding-left: 29px;
}

.example__title--main {
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 40px;
  padding-top: 25px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example-info-container {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: auto;
  justify-content: space-evenly;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.example__span {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
