.example {
  background-color: $milk;
}

.example__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0;
  padding: 0;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
}

.example__info {
  display: flex;
}

.example__span {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}
