@use "../abstract" as *;

.example {
  background-color: $milk;
  min-height: 659px;
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 111%;
  color: $black;
  margin: 0;
  padding: 0;
  grid-column: 1/3;
  padding-left: 29px;

  @media (min-width: $tablet-width) {
    line-height: 100%;
  }
}

.example__title--main {
  font-size: 36px;
  line-height: 75%;
  padding-bottom: 40px;
  padding-top: 25px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 67%;
  }
}

.example__main-description {
  margin: 0;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: $grey;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    width: 708px;
  }
}

.example__description {
  width: 87px;
  text-align: center;
  padding-top: 32px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 142px;
  }
}

.example__span {
  position: absolute;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $black;
  left: 42px;
  top: 14px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 123%;
  }
}

.example__span--days {
  left: 19px;
}

.example__info {
  position: relative;
  width: 124px;
  background-image: url("../img/slider-border.svg");
  background-repeat: no-repeat;


  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__little-title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $black;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 100%;
  }
}
