@use "../abstract" as *;

.fieldset-contacts {
  position: relative;
}

.fieldset-contacts::before {
  content: "";
  width: 100%;
  left: 0;
  height: 2px;
  background-color: $green;
  position: absolute;
  top: 15px;
  z-index: 0;
}

.fieldset-contacts__title {
  margin: 0;
  padding: 0;
  margin-right: 118px;
  margin-bottom: 35px;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: $black;
  position: relative;
  width: fit-content;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    padding-left: 40px;
    line-height: 100%;
  }
}

.fieldset-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 65px;
  }
}

.fieldset-contacts__label {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $grey;
}

.fieldset-contacts__input {
  position: r;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $grey;
  border: 1px solid #e7e7e7;
  margin: 0;
  appearance: none;
}

.fieldset-contacts__input:hover {
  border-color: #cdcdcd;
}

.fieldset-contacts__input:focus {
  border-color: $grey;
}

.fieldset-contacts__input:disabled {
  border-color: #ff8282;
}

.fieldset-contacts__input--email {
  width: 187px;
  padding: 13px 15px;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 301px;
  }
}

.fieldset-contacts__input--tel {
  width: 172px;
  padding: 13px 16px;
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 285px;
  }
}

.fieldset-contacts__item {
  margin-bottom: 13px;
}

.fieldset-contacts__email {
  position: absolute;
  right: 37px;
  top: 102px;
}

.fieldset-contacts__phone {
  position: absolute;
  right: 34px;
  top: 158px;
}
