@use "../abstract" as *;

.fieldset-additional {
  padding: 0 20px;
  position: relative;
}

.fieldset-additional::before {
  content: "";
  width: 100%;
  left: 0;
  height: 2px;
  background-color: $green;
  position: absolute;
  top: 13px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    top: 22px;
  }
}

.fieldset-additional__title {
  margin: 0;
  margin-bottom: 38px;
  margin-top: 9px;
  padding: 0;
  margin-left: -19px;
  padding-right: 20px;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: $black;
  background-color: $white;
  width: fit-content;
  position: relative;

  @media (min-width: $tablet-width) {
    line-height: 100%;
    padding-left: 20px;
    font-size: 36px;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    line-height: 100%;
    padding-left: 0;
    font-size: 36px;
    margin-top: 63px;
    margin-left: -45px;
  }
}

.fieldset-additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 26px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 97px;
    row-gap: 21px;
    margin-left: 80px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 44px;
    margin-top: 40px;
    margin-left: 92px;
    margin-right: -107px;
    column-gap: 0;
    flex-wrap: wrap;
  }
}

.fieldset-additional__item {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 3px;
    margin-top: 26px;
    flex: 0 0 25%;
  }
}

.fieldset-additional__label {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $black2;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.fieldset-additional__control {
  position: absolute;
  left: 0;
  top: -4px;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid #cdcdcd;
  margin-left: -47px;

  @media (min-width: $tablet-width) {
    top: -5px;
    left: -14px;
    width: 40px;
    height: 40px;
  }
}

.fieldset-additional__control:hover {
  border-color: #bababa;
}

.fieldset-additional__input:focus + .fieldset-additional__control {
  outline: 2px solid #bababa;
}

.fieldset-additional__control:disabled {
  opacity: 0.3;
}

.fieldset-additional__input[type="checkbox"]:checked + .fieldset-additional__control::before,
.fieldset-additional__input[type="checkbox"]:checked + .fieldset-additional__control::after {
  content: "";
  position: absolute;
  background-image: url("../img/check-icon.svg");
  top: 3px;
  left: 4px;
  width: 24px;
  height: 18px;

  @media (min-width: $tablet-width) {
    top: 12px;
    left: 8px;
  }
}
