@use "../abstract" as *;

.fieldset-contacts {
  position: relative;
}

.fieldset-contacts::before {
  content: "";
  width: 100%;
  left: 0;
  height: 2px;
  background-color: $green;
  position: absolute;
  top: 15px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    top: 20px;
  }
}

.fieldset-contacts__title {
  margin: 0;
  padding: 0;
  margin-right: 118px;
  margin-bottom: 35px;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: $black;
  position: relative;
  width: fit-content;
  background-color: $white;

  @media (min-width: $tablet-width) {
    line-height: 100%;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -76px;
    padding-left: 30px;
    padding-right: 20px;
  }
}

.fieldset-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
    margin-left: 39px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
}

.fieldset-contacts__label {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.fieldset-contacts__input {
  position: r;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $grey;
  border: 1px solid #e7e7e7;
  margin: 0;
  appearance: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.fieldset-contacts__input:hover {
  border-color: #cdcdcd;
}

.fieldset-contacts__input:focus {
  outline: 2px solid $grey;
}

.fieldset-contacts__input:active ~ svg,
.fieldset-contacts__input:focus ~ svg {
  stroke: $green;
}

.fieldset-contacts__input:disabled ~ svg {
  border-color: #ff8282;
  stroke: #ff8282;
}

.fieldset-contacts__input--email {
  width: 187px;
  padding: 13px 15px;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 14px 21px;
    width: 509px;
    margin-left: 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 14px 21px;
    width: 442px;
    margin-left: 5px;
  }
}

.fieldset-contacts__input--tel {
  width: 172px;
  padding: 13px 16px;
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    padding: 14px 21px;
    width: 490px;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 21px;
    width: 428px;
    margin-left: 12px;
    margin-right: 32px;
  }
}

.fieldset-contacts__item {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }
}

.fieldset-contacts__email {
  position: absolute;
  right: 37px;
  top: 102px;
  stroke: $black2;

  @media (min-width: $tablet-width) {
    right: 83px;
    top: 129px;
  }

  @media (min-width: $desktop-width) {
    left: 641px;
    top: 129px;
  }
}

.fieldset-contacts__email:focus {
  stroke: $green;
}

.fieldset-contacts__phone {
  position: absolute;
  right: 34px;
  top: 158px;

  @media (min-width: $tablet-width) {
    right: 83px;
    top: 197px;
  }

  @media (min-width: $desktop-width) {
    right: 126px;
    top: 125px;
  }
}
