@use "../abstract" as *;

.fieldset-comment {
  position: relative;
}

.fieldset-comment::before {
  content: "";
  width: 100%;
  left: 0;
  height: 2px;
  background-color: $green;
  position: absolute;
  top: 14px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    top: 20px;
  }
}

.fieldset-comment__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-right: 21px;
  margin-left: -23px;
  padding-left: 21px;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 108%;
  color: $black;
  background-color: $white;
  position: relative;
  width: fit-content;

  @media (min-width: $tablet-width) {
    line-height: 100%;
    padding-left: 27px;
    margin-left: -26px;
    padding-right: 15px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -66px;
    padding-left: 24px;
  }
}

.fieldset-comment__textarea {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey;
  margin-bottom: 9px;
  border-color: #e7e7e7;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 13px;
  width: 252px;
  height: 140px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 35px;
    margin-left: 42px;
    width: 594px;
    padding: 16px 17px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1181px;
    height: 141px;
    margin-top: 33px;
    margin-left: 32px;
  }
}
