@use "../abstract" as *;

.fieldset-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  border-bottom: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    border: 0;
    margin-left: 41px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30px;
    margin-bottom: 52px;
  }
}

.fieldset-list__item {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.fieldset-list__label {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.fieldset-list__input {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $grey;
  border: 1px solid #e7e7e7;
  margin: 0;
  appearance: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.fieldset-list__input:hover {
  border-color: #cdcdcd;
}

.fieldset-list__input:focus {
  border-color: $grey;
}

.fieldset-list__input:disabled {
  border-color: #ff8282;
}

.fieldset-list__input--name {
  margin: 0;
  padding: 12px 13px;
  width: 200px;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
    padding: 10px 18px;
    width: 530px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
    width: 464px;
  }
}

.fieldset-list__input--kg {
  width: 170px;
  padding: 13px 16px;
  margin-left: 12px;

  @media (min-width: $tablet-width) {
    padding: 10px 16px;
    width: 502px;
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
    width: 433px;
  }
}

.fieldset-list__input--age {
  width: 140px;
  padding: 12px 15px;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    padding: 10px 16px;
    width: 464px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
    width: 394px;
  }
}
