@font-face {
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald Medium";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
