@use "../abstract" as *;

.header {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}


.header-logo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  padding: 0 20px;
  min-height: 66px;

  // @media (min-width: $tablet-width) {

  // }
}

.header__toggle {
  position: relative;
  width: 24px;
  height: 18px;
  border: none;
  appearance: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    left: 112px;
  }
}
