@use "../abstract" as *;

.header {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}


.header-logo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 51px;
  }
}

.header__main-logo {
  width: 33px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}


.header__toggle {
  position: relative;
  top: 5px;
  right: 23px;
  height: 24px;
  padding-top: 3px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle--close::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 10px;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.header__toggle--open {
  position: relative;
  top: 5px;
  right: 23px;
  height: 24px;
  padding-top: 3px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 10px;
    width: 24px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__toggle:active {
  opacity: 30%;
}


.header__logo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    left: 112px;
    display: none;
  }
}
