@use "../abstract" as *;

.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(hsl(97 53% 47% / 85%), hsl(97 53% 47% / 85%)), url("../img/index-background.png");
  background-color: #adff2f;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  right: 0;
  left: 0;
  height: 302px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    height: 694px;
    right: 0;
    left: calc(( 100% - 1280px) / 2 + 640px);
    top: -119px;
    background-image: linear-gradient(hsl(97 53% 47% / 85%), hsl(97 53% 47% / 85%)), url("../img/index-background-desktop.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto 694px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(hsl(97 53% 47% / 85%), hsl(97 53% 47% / 85%)), url("../img/index-background-desktop@2x.png");
    }
  }
}

.hero-section__title {
  margin: 0;
  padding: 0;
  font-family: $oswald;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $white;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    padding-left: 6px;
    padding-right: 140px;
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    color: $black;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    padding: 0;
    padding-left: 98px;
    padding-top: 88px;
    width: 450px;
  }
}

.hero-section__slogan {
  margin: 0;
  margin-top: 26px;
  font-family: $oswald;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $black;
    font-weight: 400;
    font-size: 20px;
    line-height: 67%;
    padding-top: 45px;
    padding-right: 283px;
    padding-left: 36px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    color: $black;
    font-weight: 400;
    font-size: 20px;
    line-height: 67%;
    width: 300px;
    padding-left: 99px;
  }
}

.hero-section__logo {
  display: block;
  margin: 30px auto 0;

  @media (min-width: $tablet-width) {
    margin: 23px 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: -260px;
    margin-left: 479px;
  }
}
