@use "../abstract" as *;

.hero-section {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 1280px;
  }
}

.hero-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(hsl(97 53% 47% / 85%), hsl(97 53% 47% / 85%)), url("../img/index-background.png");
  background-color: #adff2f;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  height: 302px;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 715px;
    height: 694px;
    right: -8px;
    top: -141px;
    background-image: linear-gradient(hsl(97 53% 47% / 85%), hsl(97 53% 47% / 85%)), url("../img/index-background-desktop.png");
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(hsl(97 53% 47% / 85%), hsl(97 53% 47% / 85%)), url("../img/index-background-desktop@2x.png");
    }
  }
}

.hero-section-wrapper {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 450px;
  }
}

.hero-section-container {
  display: flex;
  flex-direction: column;
}

.hero-section__title {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  font-family: $oswald;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 67%;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
    font-weight: 400;
    font-size: 60px;
    line-height: 67%;
    text-align: center;
    padding-left: 60px;
    padding-right: 237px;
  }

  @media (min-width: $desktop-width) {
    color: $black;
    font-weight: 400;
    font-size: 60px;
    line-height: 67%;
    text-align: center;
    padding: 0;
    padding-left: 130px;
    width: 450px;
  }
}

.hero-section__slogan {
  margin: 0;
  padding-top: 25px;
  font-family: $oswald;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 67%;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $black;
    font-weight: 400;
    font-size: 20px;
    line-height: 67%;
    padding-right: 262px;
    padding-left: 36px;
  }

  @media (min-width: $desktop-width) {
    color: $black;
    font-weight: 400;
    font-size: 20px;
    line-height: 67%;
    width: 300px;
    padding-left: 190px;
  }
}

.hero-section__logo {
  margin-top: 29px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $desktop-width) {
    margin-top: -69px;
    margin-left: 500px;
  }
}
