.instruction__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.instruction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
