@use "../abstract" as *;

.instruction__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 75%;
  color: $black;
  margin: 0;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 67%;
  }
}

.instruction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 112%;
  color: $grey;
  padding-bottom: 28px;
  counter-reset: instruction-counter;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 130%;
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 150px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.instruction__item {
  position: relative;
  padding-bottom: 26px;
}


.instruction__item--function-eat::before {
  content: "";
  position: absolute;
  background-image: url("../img/function-eat.svg");
  width: 60px;
  height: 60px;
}

.instruction__item--powder::before {
  content: "";
  position: absolute;
  background-image: url("../img/powder.svg");
  width: 60px;
  height: 60px;
}

.instruction__item--change-eat::before {
  content: "";
  position: absolute;
  background-image: url("../img/change-eat.svg");
  width: 60px;
  height: 60px;
}

.instruction__item--changes::before {
  content: "";
  position: absolute;
  background-image: url("../img/changes.svg");
  width: 60px;
  height: 60px;
}

.instruction__description {
  margin: 0;
  padding-left: 70px;
}
