@use "../abstract" as *;

.instruction__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0;
  padding-bottom: 42px;
}

.instruction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  padding-bottom: 28px;
}

.instruction__item {
  padding-bottom: 26px;
}

.instruction__description {
  margin: 0;
}
