@use "../abstract" as *;

.location {
  background-color: $milk;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.location-container {
  display: grid;
  grid-template-columns: 138px 138px;

  @media (min-width: $tablet-width) {
    column-gap: 290px;
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    width: 565px;
    background-color: $white;
    grid-template-columns: 176px 231px;
    column-gap: 80px;
    height: 198px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.location--main {
  background-color: $white;
}

.location__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 84%;
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet-width) {
    line-height: 88%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-left: 80px;
  }
}

.location__description {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 124%;
  color: $grey;

  @media (min-width: $tablet-width) {
    line-height: 109%;

    @media (min-width: $desktop-width) {
      margin-top: 60px;
      margin-left: 87px;
    }
  }
}

.location__map {
  width: 100%;
  display: block;
  border: none;
}
