@use "../abstract" as *;

.location {
  background-color: $milk;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.location--main {
  background-color: $white;
}

.location__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    line-height: 130%;
    padding-top: 44px;
    padding-left: 70px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 59px;
    padding-left: 80px;
  }
}

.location__description {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  margin: 0;
  padding-top: 25px;
  color: $grey;

  @media (min-width: $tablet-width) {
    line-height: 125%;
    padding-top: 41px;
    padding-right: 69px;
    font-size: 16px;
    text-align: right;

    @media (min-width: $desktop-width) {
      text-align: left;
      padding: 55px 47px;
    }
  }
}

.location__map {
  width: 100%;
  display: block;
  border: none;
  max-height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.location__space {
  display: block;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}
