@use "../abstract" as *;

.location {
  background-color: $milk;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.location--main {
  background-color: $white;
}

.location__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    line-height: 130%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-left: 80px;
  }
}

.location__description {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  margin: 0;
  padding-top: 25px;
  color: $grey;

  @media (min-width: $tablet-width) {
    line-height: 125%;

    @media (min-width: $desktop-width) {
      margin-top: 60px;
      margin-left: 87px;
    }
  }
}

.location__map {
  width: 100%;
  display: block;
  border: none;
  max-height: 362px;
}
