.main-form__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  color: $black;
}

.main-form__description {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  padding: 0;
}
