@use "../abstract" as *;

.navigation {
  margin-left: auto;
}

.navigation__container {
  position: absolute;
  min-width: 100%;
  min-height: 132px;
}

.navigation__container--open {
  position: absolute;
  visibility: hidden;
  z-index: 2;

  @media (min-width: $tablet-width) {
    visibility: visible;
    position: unset;
    margin-top: 43px;
    min-height: 36px;
  }
}

.navigation__container--close {
  z-index: 10;
  position: absolute;
  margin-left: -20px;
}

.navigation__container--nojs {
  position: static;
  min-width: 100%;
  padding-right: 20px;
  visibility: visible;
}

.navigation__container--nojs .navigation__item {
  display: block;
}

.navigation__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  text-align: center;
  background-color: $white;
  z-index: 10;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 74px;
  }
}

.navigation__link {
  position: relative;
  text-decoration: none;
  font-family: $oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    line-height: 133%;
    font-size: 18px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    line-height: 100%;
    font-size: 20px;
  }
}

.navigation__link:hover {
  opacity: 0.3;
}

.navigation__link:active {
  opacity: 0.6;
}

.navigation__link--main {
  color: $black;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.navigation__link--current-main::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 49px;
  height: 2px;
  background-color: $green;

  @media (min-width: $tablet-width) {
    top: 33px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    top: 36px;
  }
}

.navigation__link--current::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 31px;
  height: 2px;
  background-color: $green;

  @media (min-width: $desktop-width) {
    top: 37px;
  }
}

.navigation__item {
  padding-bottom: 23px;
  padding-top: 19px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-top: 0 solid transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 37px;
    margin-right: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 33px;
  }
}
