@use "../abstract" as *;

.navigation {
  margin-left: auto;
}

.navigation__container--open {
  position: absolute;
  visibility: hidden;

  @media (min-width: $tablet-width) {
    visibility: visible;
    position: unset;
  }
}

.navigation__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  text-align: center;
  background-color: $white;
  z-index: 10;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 20px;
  }
}

.navigation__link {
  position: relative;
  text-decoration: none;
  font-family: $oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 67%;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    line-height: 90%;
  }

  @media (min-width: $desktop-width) {
    line-height: 100%;
  }
}

.navigation__link:hover {
  opacity: 0.3;
}

.navigation__link:active {
  opacity: 0.6;
}

.navigation__link--main {
  color: $black;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.navigation__link--current-main::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 49px;
  height: 2px;
  background-color: $green;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.navigation__link--current::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 49px;
  height: 2px;
  background-color: $green;
}

.navigation__item {
  padding-bottom: 23px;
  padding-top: 23px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-top: 0 solid transparent;
    padding-top: 0;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 6px;
  }
}
