@use "../abstract" as *;

.product-card {
  position: relative;
  background-color: transparent;
  display: grid;
  grid-template-columns: 141px 141px;
  grid-template-rows: auto;
  row-gap: 13px;
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;


  @media (min-width: $tablet-width) {
    background-color: $milk;
    width: 324px;
    border: none;
    display: block;
    padding-top: 124px;
    padding-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-card--more {
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: 1px solid $milk;
  }
}

.product-card--more::after,
.product-card--more::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #d3d3dd;
  transform: translateX(-50%);
  top: 45px;
}

.product-card--more::after {
  transform: translateX(-50%) rotate(90deg);
}

.product-card__container {
  position: relative;
  min-height: 112px;

  @media (min-width: $tablet-width) {
    padding: 35px 42px;
  }
}

.product-card__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 84%;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    line-height: 81%;
  }

  @media (min-width: $desktop-width) {
    line-height: 71%;
  }
}

.product-card__title--more {
  text-align: center;
  padding-top: 78px;

  // @media (min-width: $tablet-width) {

  // }
}

.product-card__img {
  margin-left: 50px;
  width: 68px;
  height: 86px;

  @media (min-width: $tablet-width) {
    margin-left: 100px;
    width: 161px;
    height: 172px;
    position: absolute;
    margin-top: -170px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 44px;
  }
}

.product-card__options {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 116%;
  color: $grey;


  @media (min-width: $tablet-width) {
    line-height: 87%;
    border-collapse: collapse;
  }
}


.product-card__description {
  font-family: $arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 116%;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 98%;
  }
}

.product-card__td {
  padding-right: 74px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #d3d3dd;
    padding: 16px 40px;

    @media (min-width: $desktop-width) {
      padding: 16px 26px;
    }
  }
}

.product-card__tr {
  border-bottom: 1px solid #6d6d6d;
  padding-bottom: 10px;
}
