@use "../abstract" as *;

.product-card {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: 1px solid #d9d9d9;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    background-color: $milk;
    width: 324px;
    min-height: 430px;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    padding: 0 19px;
    padding-top: 115px;
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-card--more {
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: 1px solid $milk;
  }
}

.product-card--more::after,
.product-card--more::before {
  content: "";
  position: absolute;
  left: 140px;
  width: 30px;
  height: 2px;
  background-color: #d3d3dd;
  transform: translateX(-50%);
  top: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    left: 162px;
    top: 82px;
  }
}

.product-card--more::after {
  transform: translateX(-50%) rotate(90deg);
}

.product-card__container {
  position: relative;
  width: 140px;
  padding: 19px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 0 37px;
    width: 249px;
    margin-left: 15px;
  }
}

.product-card__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 90px;
  align-items: center;
  line-height: 125%;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    line-height: 120%;
    font-size: 20px;
    width: 130px;
    text-align: center;
    margin: 0 auto 11px;
    margin-top: 47px;
    margin-right: 54px;
  }

  @media (min-width: $desktop-width) {
    line-height: 105%;
    margin-top: -20px;
    margin-bottom: -12px;
  }
}

.product-card__more-title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  line-height: 125%;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-top: 76px;
  margin-left: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 110%;
    width: 134px;
    margin-left: 77px;
    margin-top: 49px;
  }
}


.product-card__img {
  padding-left: 33px;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    position: absolute;
    left: 53px;
    bottom: 316px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 44px;
    margin-top: -105px;
  }
}

.product-card__options {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 116%;
  width: 142px;
  color: $grey;
  border-collapse: collapse;


  @media (min-width: $tablet-width) {
    line-height: 87%;
    border-collapse: collapse;
    width: 100%;
  }
}

.product-card__link {
  width: 310px;
  height: 144px;

  @media (min-width: $tablet-width) {
    width: 310px;
    height: auto;
  }
}


.product-card__description {
  font-family: $arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 112%;
    font-size: 16px;
    width: 170px;
    margin-top: 21px;
    margin-left: 60px;
    margin-bottom: 97px;
  }
}

.product-card__td {
  line-height: 133%;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #d3d3dd;
    padding: 8px 0 10px;
    line-height: 100%;
    font-size: 16px;
    text-align: left;

    @media (min-width: $desktop-width) {
      padding: 16px 26px;
    }
  }
}

.product-card__td:last-child {
  text-align: right;
}

.product-card__tr {
  border-bottom: 1px solid #6d6d6d;
  border-color: transparent;
}
