@use "../abstract" as *;

.radio-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.radio-list__item {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 76px;
  text-transform: uppercase;
  color: $black2;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    line-height: 100%;
  }
}
