@use "../abstract" as *;

.radio-list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 27px;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 60px;
    border: 1px solid #e7e7e7;
    padding: 25px;
    width: 578px;
    margin-left: 41px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 0;
    padding-left: 55px;
    width: 1008px;
    height: 196px;
    margin: 0;
    margin-top: 30px;
    margin-right: 30px;
  }
}

.radio-list__item {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $black2;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    line-height: 100%;
    margin-top: 13px;
    margin-left: 15px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
    margin-left: -16px;
    margin-bottom: 14px;
  }
}

.radio-list__label {
  line-height: 112%;
  margin-left: 47px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.radio-list__input {
  position: absolute;
  border: 0;
  padding: 0;
}

.radio-list__mark {
  position: absolute;
  width: 30px;
  left: 0;
  height: 30px;
  border-radius: 50%;
  background-color: $white;
  border: 1px solid #cdcdcd;
  appearance: none;
  margin-top: -6px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 26px;
    margin-top: -11px;
    width: 40px;
    height: 40px;
  }
}

.radio-list__mark:hover {
  border-color: #bababa;
}

.radio-list__input[type="radio"]:focus + .radio-list__mark {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 2px #cdcdcd;
}

.radio-list:disabled {
  opacity: 0.3;
}

.radio-list__input[type="radio"]:checked + .radio-list__mark::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  margin: auto;
  width: 13px;
  height: 13px;
  background-color: $green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 11px;
  }

  @media (min-width: $desktop-width) {
    left: 11px;
    top: 11px;
  }
}
