@use "../abstract" as *;

.sale-block {
  background-image: linear-gradient(hsl(97 53% 47% / 85%), hsl(97 53% 47% / 85%)), url("../img/sale-block.png");
  background-color: #adff2f;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 35px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(hsl(97 53% 47% / 85%), hsl(97 53% 47% / 85%)), url("../img/sale-block@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 200px;
    width: 707px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    height: 288px;
    background-size: auto;
    margin-left: 80px;
  }
}

.sale-block::before {
  content: "";
  background-image: url("../img/sale-icon.svg");
  width: 78px;
  height: 80px;
  position: absolute;
  top: 58px;
  left: 121px;

  @media (min-width: $desktop-width) {
    left: 80px;
  }
}

.sale-block__description {
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 109%;
  color: $white;
  text-align: center;
  padding-top: 186px;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 61px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 71px;
    padding-left: 422px;
    padding-right: 124px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 184px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 42px;
  }
}
