@use "../abstract" as *;

.social {
  display: flex;
  background-color: $milk;
  width: 100%;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
  }
}

.social__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 34px;
}

.html-logo {
  text-decoration: none;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $grey;
  padding-bottom: 30px;
}

.social__logo {
  padding-top: 30px;
}
