@use "../abstract" as *;

.social {
  background-color: $milk;
  width: 100%;
}

.social__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 30px;
}

.social__item {
  padding-left: 26px;
}

.social__line {
  display: block;
  border: 1px solid #e6e6e6;
  width: 280px;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    display: none;
  }
}

.html-logo {
  display: flex;
  text-decoration: none;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $grey;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 110px;
}

.html-logo__description {
  padding-right: 145px;

  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }
}

.social__logo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
  }
}
