@use "../sass/abstract" as *;

body {
  box-sizing: border-box;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: $grey;
  background-color: $white;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.global-container {
  margin: 0 auto;
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
  }
}

.line-container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 1130px;
  }
}

.example-info-container {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: auto;
  justify-content: space-evenly;
  column-gap: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 33px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
  }
}

.header-logo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    height: 51px;
  }
}

.location-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 112px;

  @media (min-width: $tablet-width) {
    column-gap: 290px;
    min-height: 199px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    width: 565px;
    background-color: $white;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    height: 198px;
    position: absolute;
    top: 40px;
    left: 110px;
  }
}

.hero-section-container {
  display: flex;
  flex-direction: column;
}

.hero-section-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 140px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 0;
    row-gap: 0;
  }
}

.advantages-container {
  margin-top: 20px;
  background-color: $milk;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 57px;
    padding-right: 316px;
    padding-left: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    padding-right: 51px;
    padding-left: 52px;
    padding-bottom: 10px;
    min-height: 365px;
  }
}

.additional-container {
  display: block;
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.additional-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.html-logo {
  display: flex;
  text-decoration: none;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $grey;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 81px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
}

.html-logo:active {
  opacity: 0.3;
}

.html-logo:hover {
  stroke: hsl(97, 53%, 47%);
}

.html-logo__description {
  margin-right: 139px;

  @media (min-width: $tablet-width) {
    margin-right: 23px;
    padding-top: 7px;
  }
}

.html-logo__svg:active {
  stroke: hsl(97, 53%, 47%);
  opacity: 0.3;
}


.main-form-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.product-card-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 3px;
}
