@use "../sass/abstract" as *;

body {
  box-sizing: border-box;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
  background-color: $white;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header-container {
  width: 320px;
  margin: 0 auto;
}

.main-container {
  width: 320px;
  margin: 0 auto;
}
