
// viewports
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width: 320px;

// colors
$black: #000000;
$grey: #444444;
$milk: #f2f2f2;
$white: #ffffff;
$black2: #222222;
$green: #68b738;

// fonts
$oswald: "Oswald", sans-serif;
$arial: "Arial", sans-serif;
