// colors
$black: #000000;
$grey: #444444;
$milk: #f2f2f2;
$white: #ffffff;

// fonts
$oswald-regular: "Oswald Regular", sans-serif;
$oswald-medium: "Oswald Medium", sans-serif;
$arial: "Arial", sans-serif;
